{% extends 'Services/coaching.html' %}
{% load static %}
{% load i18n%}
{% block title %}Discovering service{%endblock%}
<body>
    {% block Content%}
   <div class="headerDiscovering">

   </div>
   
   <div class="contentDiscover">
    <div class="sectionDiscovering" style="background-image: url('{%static 'Pictures/pexels-trace-hudson-5839382.JPG' %}');background-size: cover; background-position:-25px -37rem ;">
    
        <p>{% "have you ever wonder about this question<br> who are you?"%}<br>
            {{Date}}</p>
       </div>
        <div class="contentDiscoverImg0" style="background-image: url('{%static 'Pictures/pexels-rahul-pandit-7404336.JPG' %}');background-position:-80rem 0rem ;background-size: cover;">
       {% "<p>World is made of challenge to overcome,thyself knowing is a key "%}</p>
        </div>
       
        <div class="contentDiscover0">
            {% blocktranslate %}
            <p>
                This is a comprehensive service designed to guide individuals on their journey of self-discovery and 
personal growth. We offer a range of services that help you better understand your personality, 
strengths, and values, allowing you to set meaningful goals and live a more fulfilling life
            </p>
                <p><b>In this service we're offering these kind of mentoring service below</b></p>
               <span><b>Self-Assessment Tools:</b> Provide a variety of self-assessment quizzes and tests that help 
individuals gain insights into their personality traits, strengths, and areas for personal growth.<br>
                <b>Personal Values Exploration:</b> Guide visitors through exercises that help them identify their 
core values, enabling them to make decisions aligned with their beliefs.<br> 
                <b>Goal Setting and Vision Boarding:</b> Offer resources and guidance for setting meaningful 
goals and creating vision boards to visualize and manifest their aspirations.<br> 
                <b>Mindfulness and Self-Care:</b> Share mindfulness techniques, relaxation exercises, and self
care tips to promote mental and emotional well-being. <br>
                <b>Journaling Prompts:</b> Provide thought-provoking journaling prompts to encourage self
reflection, creative expression, and personal insight.<br>
            {% endblocktranslate %}
               </div>
               <div class="contentDiscoverImg1" style="background-image: url('{%static 'Pictures/femme_tenant_une_tablette_avec_confiance.JPEG' %}');background-size: cover;background-position: 35rem  0;">
                </div>
                <div class="contentDiscover1">
                    {% blocktranslate %}
                <span>
                <b>Life Purpose and Meaning:</b> Provide resources to help users reflect on their life purpose and 
find meaning in their daily lives.<br>
                <b>Personality Typing:</b> Introduce various personality typing systems (e.g., Myers-Briggs, 
Enneagram) to help users better understand themselves and their interactions with others.<br>
                <b>Self-Discovery Challenges:</b> Design interactive challenges or activities that encourage 
visitors to step out of their comfort zones and try new experiences.<br>
                <b>Book and Podcast Recommendations:</b> Suggest inspirational books, podcasts, and TED 
talks that can spark personal growth and self-discovery.<br>
                <b>Reflection and Gratitude Practices:</b> Share exercises that promote gratitude and encourage 
regular reflection on personal achievements and growth. 
<b>Passion and Interest Exploration:</b> Offer tools and suggestions for exploring passions and 
interests, encouraging visitors to pursue activities that bring them joy.
        </span>
        {% endblocktranslate %}
                    </div>
                    <div class="Button">
                        <a href="{%url 'tonApp:CoordonneeUser' %}"> <p  style="background-color:rgb(212, 223, 226);color: red; 
                        font-size: 2rem; font-family: century 'sens-serif'; width: 10vw;height: 5vh;
                        margin-left: 35vw; text-align: center;padding: 10px; border-radius: 50px;
                         ">{%" Start "%}</p></a>
                         </div>
        </div>
  {%endblock%}
   <footer>
        <div class="join">
                <p><h2>{% trans "Join us on :"%}</h2></p>
                <a href="#"><a href="#"><p><img src="{% static 'Pictures/facebookLogo.png'%}" alt="image non-retrouve" width="50" height="50" style="border-radius: 50%;">Facebook</p></a>
                <a href="#"><p><img src="{%static 'Pictures/instagram.jpeg'%}" alt="image non-retrouve" width="50px" height="50" style="border-radius: 50%;">Instagram</p></a>
                <a href="#"><p><img src="{%static 'Pictures/tik-tok-logo.png'%}" alt="image non-retrouve" width="50px">Tiktop</p></a>
                <a href="#"><p><img src="{%static 'Pictures/twitter-logo.png'%}" alt="image non-retrouve" width="50px">Twiter</p></a>
                <a href="#"><img src="{% static 'Pictures/linkdin logo.jpeg' %}" alt="image non-retrouve" width="50px" style="border-radius: 50%;">linkdIn</p></a>
            </div>
        <div class="callContacts">
                <span><h2>{% trans "For more information contact us"%}</h2></span>
            <p><img src="{%static 'Pictures/whatsapp.png' %}" alt="image non retrouvé" width="25">: +243 85 416 60 45</p>
            <p><img src="{%static 'Pictures/call logo.jpeg' %}" alt="image non retrouvé" width="25" style="border-radius: 50%;">: +243 99 116 20 45</p>
        </div>
   </footer>
</body>
</html>